@use "../utils/" as u;

h1,h2,h3{
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}
h1{
   font-size: u.rem(42);
   font-size: clamp(2.625rem, 1.77rem + 3.63vw, 4.5rem);
}
h2{
   font-size: u.rem(36);
   font-size: clamp(u.rem(36), 1.91rem + 1.45vw, u.rem(48));
}
h3{
    font-size: u.rem(24);
}
p{
    margin-top: 0;
    font-size: u.rem(16);
}
a,
a:visited,
a:active{
    text-decoration: none;
    
}